//! **************************************************************************
// Written by: Map P.40xd on Tue May 21 16:37:04 2013
//! **************************************************************************

SCHEMATIC START;
COMP "JA1" LOCATE = SITE "T12" LEVEL 1;
COMP "JA3" LOCATE = SITE "N10" LEVEL 1;
PIN JA3_pin<0> = BEL "JA3" PINNAME PAD;
PIN "JA3_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "JC1" LOCATE = SITE "H3" LEVEL 1;
COMP "JC2" LOCATE = SITE "L7" LEVEL 1;
COMP "JC3" LOCATE = SITE "K6" LEVEL 1;
COMP "JC4" LOCATE = SITE "G3" LEVEL 1;
COMP "JC7" LOCATE = SITE "G1" LEVEL 1;
COMP "JC8" LOCATE = SITE "J7" LEVEL 1;
COMP "JD7" LOCATE = SITE "D12" LEVEL 1;
COMP "JC9" LOCATE = SITE "J6" LEVEL 1;
COMP "JD8" LOCATE = SITE "C12" LEVEL 1;
COMP "JD9" LOCATE = SITE "F12" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "JC10" LOCATE = SITE "F2" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "V15" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "M0/count_13" BEL "M0/count_12" BEL "M0/count_11"
        BEL "M0/count_10" BEL "M0/count_9" BEL "M0/count_8" BEL "M0/count_7"
        BEL "M0/count_6" BEL "M0/count_5" BEL "M0/count_4" BEL "M0/count_3"
        BEL "M0/count_2" BEL "M0/count_1" BEL "M0/count_0" BEL "M0/resstate_1"
        BEL "M0/resstate_0" BEL "M0/reset" BEL "M1/lcdcount_23" BEL
        "M1/lcdcount_22" BEL "M1/lcdcount_21" BEL "M1/lcdcount_20" BEL
        "M1/lcdcount_19" BEL "M1/lcdcount_18" BEL "M1/lcdcount_17" BEL
        "M1/lcdcount_16" BEL "M1/lcdcount_15" BEL "M1/lcdcount_14" BEL
        "M1/lcdcount_13" BEL "M1/lcdcount_12" BEL "M1/lcdcount_11" BEL
        "M1/lcdcount_10" BEL "M1/lcdcount_9" BEL "M1/lcdcount_8" BEL
        "M1/lcdcount_7" BEL "M1/lcdcount_6" BEL "M1/lcdcount_5" BEL
        "M1/lcdcount_4" BEL "M1/lcdcount_3" BEL "M1/lcdcount_2" BEL
        "M1/lcdcount_1" BEL "M1/lcdcount_0" BEL "M1/lcdd_6" BEL "M1/lcdd_5"
        BEL "M1/lcdd_4" BEL "M1/lcdd_3" BEL "M1/lcdd_2" BEL "M1/lcdd_1" BEL
        "M1/lcdd_0" BEL "M1/lcdstate_3" BEL "M1/lcdstate_2" BEL
        "M1/lcdstate_1" BEL "M1/lcdstate_0" BEL "M1/elcd" BEL "M1/lcddata" BEL
        "M1/lcdclear" BEL "M1/lcdreset" BEL "M3/gstate_FSM_FFd1" BEL
        "M3/gstate_FSM_FFd2" BEL "M3/gstate_FSM_FFd3" BEL "M3/gstate_FSM_FFd4"
        BEL "M3/gstate_FSM_FFd5" BEL "M3/lcddatin_1" BEL "M3/lcddatin_2" BEL
        "M3/lcddatin_0" BEL "M3/lcddatin_3" BEL "M3/initlcd" BEL
        "M3/lcddatin_4" BEL "M3/lcddatin_5" BEL "M3/lcddatin_6" BEL
        "M3/clearlcd" BEL "M3/addrlcd" BEL "M3/resetlcd" BEL "M3/datalcd" BEL
        "M1/rslcd" BEL "M1/lcdaddr" BEL "M1/lcdd_7" BEL "M3/initlcd_1" BEL
        "M3/initlcd_2" BEL "M1/lcdstate_3_1" BEL "M1/lcdstate_1_1" BEL
        "CLK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

