//! **************************************************************************
// Written by: Map P.40xd on Sat Mar 09 12:30:08 2013
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "L15" LEVEL 1;
COMP "RXD" LOCATE = SITE "A16" LEVEL 1;
COMP "TXD" LOCATE = SITE "B16" LEVEL 1;
COMP "BTND" LOCATE = SITE "P3" LEVEL 1;
SCHEMATIC END;

