#Digilent Atlys Xilinx Spartan-6 
#User Constraints File (UCF) atlys.ucf
#c 2012 Embedded Design Using Programmable Gate Array
#       Dennis Silage

#Crystal Clock Oscillator
NET "CLK"		LOC = "L15"	|IOSTANDARD = LVCMOS33;

#SPI Flash Memory
#NET "FMCLK" 		LOC = "R15"	|IOSTANDARD = LVCMOS33; 
#NET "FMCS" 		LOC = "V3"	|IOSTANDARD = LVCMOS33;
#NET "FMDQ<0>" 	LOC = "T13"	|IOSTANDARD = LVCMOS33;
#NET "FMDQ<1>" 	LOC = "R13"	|IOSTANDARD = LVCMOS33;
#NET "FMDQ<2>" 	LOC = "T14"	|IOSTANDARD = LVCMOS33;
#NET "FMDQ<3>" 	LOC = "V14"	|IOSTANDARD = LVCMOS33;

#DDR2 DRAM       
#NET "DDR2CLK0" 	LOC = "G3"
#NET "DDR2CLK1"	LOC = "G1"
#NET "DDR2CKE"   	LOC = "H7"
#NET "DDR2RASN" 	LOC = "L5"
#NET "DDR2CASN"	LOC = "K5"
#NET "DDR2WEN" 	LOC = "E3"
#NET "DDR2RZQ"		LOC = "L6"
#NET "DDR2ZIO"		LOC = "C2" 
#NET "DDR2BA0"   	LOC = "F2"
#NET "DDR2BA1"   	LOC = "F1"
#NET "DDR2BA2"   	LOC = "E1"

#NET "DDR2A0"    	LOC = "J7"
#NET "DDR2A1"    	LOC = "J6"
#NET "DDR2A2"    	LOC = "H5"
#NET "DDR2A3"    	LOC = "L7"
#NET "DDR2A4"    	LOC = "F3"
#NET "DDR2A5"     LOC = "H4"
#NET "DDR2A6"   	LOC = "H3"
#NET "DDR2A7"    	LOC = "H6"
#NET "DDR2A8"    	LOC = "D2"
#NET "DDR2A9"    	LOC = "D1"
#NET "DDR2A10"   	LOC = "F4"
#NET "DDR2A11"   	LOC = "D3"
#NET "DDR2A12"		LOC = "G6"

#NET "DDR2DQ0"    LOC = "L2"
#NET "DDR2DQ1"    LOC = "L1\
#NET "DDR2DQ2"    LOC = "K2"
#NET "DDR2DQ3"    LOC = "K1"
#NET "DDR2DQ4"    LOC = "H2"
#NET "DDR2DQ5"    LOC = "H1"
#NET "DDR2DQ6"    LOC = "J3"
#NET "DDR2DQ7" 	LOC = "J1"
#NET "DDR2DQ8"		LOC = "M3"
#NET "DDR2DQ9"		LOC = "M1"
#NET "DDR2DQ10"  	LOC = "N2"
#NET "DDR2DQ11"  	LOC = "N1"
#NET "DDR2DQ12"  	LOC = "T2"
#NET "DDR2DQ13"	LOC = "T1
#NET "DDR2DQ14"   LOC = "U2"
#NET "DDR2DQ15"	LOC = "U1"

#NET "DDR2UDQS"	LOC="P2"
#NET "DDR2UDQSN" 	LOC="P1
#NET "DDR2LDQS"	LOC="L4"
#NET "DDR2LDQSN"	LOC="L3"
#NET "DDR2LDM"		LOC="K3"
#NET "DDR2UDM" 	LOC="K4"
#NET "DDR2ODT"		LOC="K6"
#NET "DDR2ZIO"		LOC="C2"
#NET "DDR2RZM"		LOC="L6"

#USB Controller
#NET "EppAstb"		LOC = "B9"	|IOSTANDARD = LVCMOS33;
#NET "EppDstb"		LOC = "A9"	|IOSTANDARD = LVCMOS33;
#NET "USBFLAG"   	LOC = "C15"	|IOSTANDARD = LVCMOS33;
#NET "EppWait"   	LOC = "F13"	|IOSTANDARD = LVCMOS33;
#NET "EppDB<0>"	LOC = "A2"	|IOSTANDARD = LVCMOS33;
#NET "EppDB<1>" 	LOC = "D6"	|IOSTANDARD = LVCMOS33;
#NET "EppDB<2>"  	LOC = "C6"  |IOSTANDARD = LVCMOS33;
#NET "EppDB<3>"  	LOC = "B3"	|IOSTANDARD = LVCMOS33;  
#NET "EppDB<4>"  	LOC = "A3"  |IOSTANDARD = LVCMOS33;
#NET "EppDB<5>"  	LOC = "B4"	|IOSTANDARD = LVCMOS33;
#NET "EppDB<6>"  	LOC = "A4"	|IOSTANDARD = LVCMOS33;
#NET "EppDB<7>"  	LOC = "C5"	|IOSTANDARD = LVCMOS33;
#NET "USBCLK"		LOC = "C10" |IOSTANDARD = LVCMOS33;
#NET "USBOE"  		LOC = "A15" |IOSTANDARD = LVCMOS33;
#NET "USBWR" 		LOC = "E13"	|IOSTANDARD = LVCMOS33;
#NET "USBPktEnd" 	LOC = "C4"  |IOSTANDARD = LVCMOS33;
#NET "USBDIR" 		LOC = "B2"	|IOSTANDARD = LVCMOS33;
#NET "USBMODE" 	LOC = "A5"  |IOSTANDARD = LVCMOS33;
#NET "USBADR<0>"	LOC = "A14"	|IOSTANDARD = LVCMOS33;
#NET "USBADR<1>" 	LOC = "B14"	|IOSTANDARD = LVCMOS33;

#USB Host Controller
#NET "USBHCLK" 	LOC = "P17"	|IOSTANDARD = LVCMOS33;
#NET "USBSS"  		LOC = "P18"	|IOSTANDARD = LVCMOS33;
#NET "USBSDI" 		LOC = "N15"	|IOSTANDARD = LVCMOS33;
#NET "USBSDO" 		LOC = "N18"	|IOSTANDARD = LVCMOS33;
 
# USB UART Interface
#NET "RXD" 		LOC = "A16" |IOSTANDARD = LVCMOS33;
#NET "TXD"		LOC = "B16"	|IOSTANDARD = LVCMOS33;

#LEDs
NET "LED<0>" 	LOC = "U18"	|IOSTANDARD = LVCMOS33;
NET "LED<1>" 	LOC = "M14"	|IOSTANDARD = LVCMOS33;
NET "LED<2>" 	LOC = "N14" |IOSTANDARD = LVCMOS33;
NET "LED<3>" 	LOC = "L14"	|IOSTANDARD = LVCMOS33;
NET "LED<4>" 	LOC = "M13"	|IOSTANDARD = LVCMOS33;
NET "LED<5>" 	LOC = "D4"	|IOSTANDARD = LVCMOS33;
NET "LED<6>" 	LOC = "P16"	|IOSTANDARD = LVCMOS33;
NET "LED<7>" 	LOC = "N12"	|IOSTANDARD = LVCMOS33;

#Slide SW[itches
#NET "SW<0>" 	LOC = "A10"	|IOSTANDARD = LVCMOS33;
#NET "SW<1" 	LOC = "D14"	|IOSTANDARD = LVCMOS33;
#NET "SW<2>" 	LOC = "C14"	|IOSTANDARD = LVCMOS33;
#NET "SW<3>" 	LOC = "P15"	|IOSTANDARD = LVCMOS33;
#NET "SW<4>" 	LOC = "P12" |IOSTANDARD = LVCMOS33;
#NET "SW<5>"	LOC = "R5" 	|IOSTANDARD = LVCMOS33;
#NET "SW<6>" 	LOC = "T5"	|IOSTANDARD = LVCMOS33;
#NET "SW<7>"	LOC = "E4"	|IOSTANDARD = LVCMOS33;

#Push Buttons 
#NET "BTNU" 	LOC = "N4"  |IOSTANDARD = LVCMOS33;
#NET "BTNL" 	LOC = "P4" 	|IOSTANDARD = LVCMOS33;
#NET "BTND" 	LOC = "P3"	|IOSTANDARD = LVCMOS33;
#NET "BTNR" 	LOC = "F6"	|IOSTANDARD = LVCMOS33;
#NET "BTNC" 	LOC = "F5"	|IOSTANDARD = LVCMOS33;

#Peripheral Port A
NET "JA1" 		LOC = "T3"	|IOSTANDARD = LVCMOS33;
NET "JA2"  		LOC = "R3" 	|IOSTANDARD = LVCMOS33;
NET "JA3"  		LOC = "P6" 	|IOSTANDARD = LVCMOS33;
NET "JA4" 		LOC = "N5"	|IOSTANDARD = LVCMOS33;
NET "JA7"  		LOC = "V9"	|IOSTANDARD = LVCMOS33;
NET "JA8"  		LOC = "T9"	|IOSTANDARD = LVCMOS33;
NET "JA9"  		LOC = "V4" 	|IOSTANDARD = LVCMOS33;
NET "JA10"  	LOC = "T4"	|IOSTANDARD = LVCMOS33;
 
#AC-97 Codec Interface
#NET "BITCLK"	LOC = "L13"	|IOSTANDARD = LVCMOS33;
#NET "AUDSDI"  LOC = "T18"	|IOSTANDARD = LVCMOS33;
#NET "AUDSDO"  LOC = "N16"	|IOSTANDARD = LVCMOS33;
#NET "AUDSYNC"	LOC = "U17"	|IOSTANDARD = LVCMOS33;
#NET "AUDRST" 	LOC = "T17"	|IOSTANDARD = LVCMOS33; 

#VHDC Connector
#NET "VHDCP<1>"	LOC = "U16" 	
#NET "VHDCN<1>" 	LOC = "V16" 	
#NET "VHDCP<2>" 	LOC = "U15" 	
#NET "VHDCN<2>" 	LOC = "V15" 	
#NET "VHDCP<3>" 	LOC = "U13" 	
#NET "VHDCN<3>" 	LOC = "V11" 	
#NET "VHDCP<4>" 	LOC = "M11" 	
#NET "VHDCN<4>" 	LOC = "N11" 	
#NET "VHDCP<5>" 	LOC = "R11" 	
#NET "VHDCN<5>" 	LOC = "T11" 	
#NET "VHDCP<6>" 	LOC = "T12" 	
#NET "VHDCN<6>" 	LOC = "V12" 	
#NET "VHDCP<7>" 	LOC = "N10" 	
#NET "VHDCN<7>" 	LOC = "P11" 	
#NET "VHDCP<8>" 	LOC = "M10" 	
#NET "VHDCN<8>" 	LOC = "N9" 	
#NET "VHDCP<9>" 	LOC = "U11" 	
#NET "VHDCN<9>" 	LOC = "V11" 	
#NET "VHDCP<10>"	LOC = "R10"	
#NET "VHDCN<10>"	LOC = "T10"	
#NET "VHDCP<11>" 	LOC = "U10"	
#NET "VHDCN<11>"  LOC = "V10"	
#NET "VHDCP<12>" 	LOC = "R8" 	
#NET "VHDCN<12>" 	LOC = "T8" 	
#NET "VHDCP<13>" 	LOC = "M8"	
#NET "VHDCN<13>" 	LOC = "N8"	
#NET "VHDCP<14>" 	LOC = "U8"	
#NET "VHDCN<14>" 	LOC = "V8"	
#NET "VHDCP<15>" 	LOC = "U7"	
#NET "VHDCN<15>" 	LOC = "V7"	
#NET "VHDCP<16>" 	LOC = "N7"	
#NET "VHDCN<16>" 	LOC = "P8"	 
#NET "VHDCP<17>" 	LOC = "T6"	
#NET "VHDCN<17>" 	LOC = "V6"	
#NET "VHDCP<18>" 	LOC = "R7"	
#NET "VHDCN<18>" 	LOC = "T7"	
#NET "VHDCP<19>" 	LOC = "N6"	
#NET "VHDCN<19>" 	LOC = "P7"	 
#NET "VHDCP<20>" 	LOC = "U5"
#NET "VHDCN<20>" 	LOC = "V5"
