//! **************************************************************************
// Written by: Map P.40xd on Mon Jan 28 20:25:52 2013
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "JA1" LOCATE = SITE "T3" LEVEL 1;
COMP "JA2" LOCATE = SITE "R3" LEVEL 1;
COMP "JA3" LOCATE = SITE "P6" LEVEL 1;
COMP "JA4" LOCATE = SITE "N5" LEVEL 1;
COMP "JA7" LOCATE = SITE "V9" LEVEL 1;
COMP "JA8" LOCATE = SITE "T9" LEVEL 1;
COMP "JA9" LOCATE = SITE "V4" LEVEL 1;
COMP "JA10" LOCATE = SITE "T4" LEVEL 1;
COMP "CLK" LOCATE = SITE "L15" LEVEL 1;
SCHEMATIC END;

