# Xilinx Spartan-3E Starter Board 
# c 2008 Embedded System Design using Programmable Gate Arrays  Dennis Silage
# User Control File (UCF) pwsswtests3esb.ucf

# Crystal Clock Oscillator
#NET	"CCLK"		LOC = "C9" 	| IOSTANDARD = LVCMOS33;

# Slide Switches
NET 	"SW0"			LOC = "L13"	| IOSTANDARD = LVTTL	| PULLUP;
NET 	"SW1"			LOC = "L14" | IOSTANDARD = LVTTL	| PULLUP;
NET 	"SW2"			LOC = "H18" | IOSTANDARD = LVTTL	| PULLUP;
NET 	"SW3"			LOC = "N17" | IOSTANDARD = LVTTL	| PULLUP;

# Push Buttons
NET 	"BTN0"		LOC = "V4"	| IOSTANDARD = LVTTL	| PULLDOWN;	# north pushbutton 
NET 	"BTN1"		LOC = "H13" | IOSTANDARD = LVTTL	| PULLDOWN;	# east  pushbutton

NET 	"LD0"			LOC = "F12" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW; 
NET 	"LD1"			LOC = "E12"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
NET 	"LD2"			LOC = "E11"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
NET 	"LD3"			LOC = "F11"	| IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW;
