//! **************************************************************************
// Written by: Map P.40xd on Thu Mar 28 20:57:22 2013
//! **************************************************************************

SCHEMATIC START;
COMP "JA1" LOCATE = SITE "T12" LEVEL 1;
COMP "JA2" LOCATE = SITE "V12" LEVEL 1;
COMP "JA3" LOCATE = SITE "N10" LEVEL 1;
COMP "JA4" LOCATE = SITE "P11" LEVEL 1;
COMP "JC1" LOCATE = SITE "H3" LEVEL 1;
COMP "JC2" LOCATE = SITE "L7" LEVEL 1;
COMP "JC3" LOCATE = SITE "K6" LEVEL 1;
COMP "JC4" LOCATE = SITE "G3" LEVEL 1;
COMP "JC7" LOCATE = SITE "G1" LEVEL 1;
COMP "JC8" LOCATE = SITE "J7" LEVEL 1;
COMP "JD7" LOCATE = SITE "D12" LEVEL 1;
COMP "JC9" LOCATE = SITE "J6" LEVEL 1;
COMP "JD8" LOCATE = SITE "C12" LEVEL 1;
COMP "JD9" LOCATE = SITE "F12" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "JC10" LOCATE = SITE "F2" LEVEL 1;
COMP "BTND" LOCATE = SITE "C9" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "M8" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "M4/sclclk" BEL "M4/clkq_0" BEL "M4/clkq_1" BEL
        "M4/clkq_2" BEL "M1/initlcd" BEL "M1/lcddatin_1" BEL "M1/lcddatin_2"
        BEL "M1/digitmux_2" BEL "M1/digitmux_1" BEL "M1/digitmux_0" BEL
        "M1/lcddatin_0" BEL "M1/lcddatin_3" BEL "M1/lcddatin_5" BEL
        "M1/lcddatin_6" BEL "M1/lcddatin_4" BEL "M1/datalcd" BEL "M1/clearlcd"
        BEL "M1/resetlcd" BEL "M1/addrlcd" BEL "M1/gstate_4" BEL "M1/gstate_3"
        BEL "M1/gstate_2" BEL "M1/gstate_1" BEL "M1/gstate_0" BEL
        "M2/lcdcount_23" BEL "M2/lcdcount_22" BEL "M2/lcdcount_21" BEL
        "M2/lcdcount_20" BEL "M2/lcdcount_19" BEL "M2/lcdcount_18" BEL
        "M2/lcdcount_17" BEL "M2/lcdcount_16" BEL "M2/lcdcount_15" BEL
        "M2/lcdcount_14" BEL "M2/lcdcount_13" BEL "M2/lcdcount_12" BEL
        "M2/lcdcount_11" BEL "M2/lcdcount_10" BEL "M2/lcdcount_9" BEL
        "M2/lcdcount_8" BEL "M2/lcdcount_7" BEL "M2/lcdcount_6" BEL
        "M2/lcdcount_5" BEL "M2/lcdcount_4" BEL "M2/lcdcount_3" BEL
        "M2/lcdcount_2" BEL "M2/lcdcount_1" BEL "M2/lcdcount_0" BEL
        "M2/lcdd_7" BEL "M2/lcdd_6" BEL "M2/lcdd_5" BEL "M2/lcdd_4" BEL
        "M2/lcdd_3" BEL "M2/lcdd_2" BEL "M2/lcdd_1" BEL "M2/lcdd_0" BEL
        "M2/lcdstate_3" BEL "M2/lcdstate_2" BEL "M2/lcdstate_1" BEL
        "M2/lcdstate_0" BEL "M2/elcd" BEL "M2/lcddata" BEL "M2/lcdaddr" BEL
        "M2/lcdclear" BEL "M2/lcdreset" BEL "M2/rslcd" BEL "CLK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

