//! **************************************************************************
// Written by: Map P.40xd on Mon Jan 28 20:08:35 2013
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "M0/clk" BEL "M0/clkq_0" BEL "M0/clkq_1" BEL
        "M0/clkq_2" BEL "M0/clkq_3" BEL "M0/clkq_4" BEL "M0/clkq_5" BEL
        "M0/clkq_6" BEL "M0/clkq_7" BEL "M0/clkq_8" BEL "M0/clkq_9" BEL
        "M0/clkq_10" BEL "M0/clkq_11" BEL "M0/clkq_12" BEL "M0/clkq_13" BEL
        "M0/clkq_14" BEL "M0/clkq_15" BEL "M0/clkq_16" BEL "M0/clkq_17" BEL
        "M0/clkq_18" BEL "M0/clkq_19" BEL "M0/clkq_20" BEL "M0/clkq_21" BEL
        "M0/clkq_22" BEL "M0/clkq_23" BEL "M0/clkq_24" BEL "M0/clkq_25" BEL
        "M0/clkq_26" BEL "M0/clkq_27" BEL "M0/clkq_28" BEL "M0/clkq_29" BEL
        "M0/clkq_30" BEL "M0/clkq_31" BEL "CLK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

