//! **************************************************************************
// Written by: Map P.20131013 on Sat Feb 01 13:29:58 2014
//! **************************************************************************

SCHEMATIC START;
COMP "CD" LOCATE = SITE "U18" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "CE" LOCATE = SITE "M14" LEVEL 1;
COMP "CF" LOCATE = SITE "N14" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "CG" LOCATE = SITE "L14" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "AN0" LOCATE = SITE "N16" LEVEL 1;
COMP "AN1" LOCATE = SITE "N15" LEVEL 1;
COMP "AN2" LOCATE = SITE "P18" LEVEL 1;
COMP "AN3" LOCATE = SITE "P17" LEVEL 1;
COMP "BTND" LOCATE = SITE "C9" LEVEL 1;
COMP "CDP" LOCATE = SITE "M13" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "CA" LOCATE = SITE "T17" LEVEL 1;
COMP "CB" LOCATE = SITE "T18" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "CC" LOCATE = SITE "U17" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "M3/sclclk" BEL "M2/middigit_3" BEL "M2/middigit_2"
        BEL "M2/middigit_1" BEL "M2/middigit_0" BEL "M2/lsdigit_3" BEL
        "M2/lsdigit_2" BEL "M2/lsdigit_1" BEL "M2/lsdigit_0" BEL
        "M2/msdigit_1" BEL "M2/msdigit_0" BEL "M3/clkq_0" BEL "M3/clkq_1" BEL
        "M3/clkq_2" BEL "M3/clkq_3" BEL "M3/clkq_4" BEL "M3/clkq_5" BEL
        "M3/clkq_6" BEL "M3/clkq_7" BEL "M3/clkq_8" BEL "M3/clkq_9" BEL
        "M3/clkq_10" BEL "M3/clkq_11" BEL "M3/clkq_12" BEL "M3/clkq_13" BEL
        "M3/clkq_14" BEL "M3/clkq_15" BEL "M3/clkq_16" BEL "M3/clkq_17" BEL
        "M3/clkq_18" BEL "M3/clkq_19" BEL "M3/clkq_20" BEL "M3/clkq_21" BEL
        "M3/clkq_22" BEL "M3/clkq_23" BEL "M3/clkq_24" BEL "M3/clkq_25" BEL
        "M3/clkq_26" BEL "M3/clkq_27" BEL "M3/clkq_28" BEL "M3/clkq_29" BEL
        "M3/clkq_30" BEL "M3/clkq_31" BEL "CLK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

