//! **************************************************************************
// Written by: Map P.40xd on Tue Aug 27 13:07:36 2013
//! **************************************************************************

SCHEMATIC START;
COMP "JA1" LOCATE = SITE "T12" LEVEL 1;
COMP "JA2" LOCATE = SITE "V12" LEVEL 1;
COMP "JA3" LOCATE = SITE "N10" LEVEL 1;
COMP "JB1" LOCATE = SITE "K2" LEVEL 1;
COMP "JB2" LOCATE = SITE "K1" LEVEL 1;
COMP "JC1" LOCATE = SITE "H3" LEVEL 1;
COMP "JB3" LOCATE = SITE "L4" LEVEL 1;
COMP "JC2" LOCATE = SITE "L7" LEVEL 1;
COMP "JB4" LOCATE = SITE "L3" LEVEL 1;
COMP "JC3" LOCATE = SITE "K6" LEVEL 1;
COMP "BTND" LOCATE = SITE "C9" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

