//! **************************************************************************
// Written by: Map P.40xd on Mon Jan 28 20:52:55 2013
//! **************************************************************************

SCHEMATIC START;
COMP "CA" LOCATE = SITE "T17" LEVEL 1;
COMP "CB" LOCATE = SITE "T18" LEVEL 1;
COMP "CC" LOCATE = SITE "U17" LEVEL 1;
COMP "CD" LOCATE = SITE "U18" LEVEL 1;
COMP "CE" LOCATE = SITE "M14" LEVEL 1;
COMP "CF" LOCATE = SITE "N14" LEVEL 1;
COMP "CG" LOCATE = SITE "L14" LEVEL 1;
COMP "AN0" LOCATE = SITE "N16" LEVEL 1;
COMP "AN1" LOCATE = SITE "N15" LEVEL 1;
COMP "AN2" LOCATE = SITE "P18" LEVEL 1;
COMP "AN3" LOCATE = SITE "P17" LEVEL 1;
COMP "CDP" LOCATE = SITE "M13" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
COMP "BTND" LOCATE = SITE "C9" LEVEL 1;
COMP "BTNL" LOCATE = SITE "C4" LEVEL 1;
COMP "BTNR" LOCATE = SITE "D9" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "M1/clk" BEL "M0/clk" BEL "M0/clkq_0" BEL
        "M0/clkq_1" BEL "M0/clkq_2" BEL "M0/clkq_3" BEL "M0/clkq_4" BEL
        "M0/clkq_5" BEL "M0/clkq_6" BEL "M0/clkq_7" BEL "M0/clkq_8" BEL
        "M0/clkq_9" BEL "M0/clkq_10" BEL "M0/clkq_11" BEL "M0/clkq_12" BEL
        "M0/clkq_13" BEL "M0/clkq_14" BEL "M0/clkq_15" BEL "M0/clkq_16" BEL
        "M0/clkq_17" BEL "M0/clkq_18" BEL "M0/clkq_19" BEL "M0/clkq_20" BEL
        "M0/clkq_21" BEL "M0/clkq_22" BEL "M0/clkq_23" BEL "M0/clkq_24" BEL
        "M0/clkq_25" BEL "M0/clkq_26" BEL "M0/clkq_27" BEL "M0/clkq_28" BEL
        "M0/clkq_29" BEL "M0/clkq_30" BEL "M0/clkq_31" BEL "M1/clkq_0" BEL
        "M1/clkq_1" BEL "M1/clkq_2" BEL "M1/clkq_3" BEL "M1/clkq_4" BEL
        "M1/clkq_5" BEL "M1/clkq_6" BEL "M1/clkq_7" BEL "M1/clkq_8" BEL
        "M1/clkq_9" BEL "M1/clkq_10" BEL "M1/clkq_11" BEL "M1/clkq_12" BEL
        "M1/clkq_13" BEL "M1/clkq_14" BEL "M1/clkq_15" BEL "M1/clkq_16" BEL
        "M1/clkq_17" BEL "M1/clkq_18" BEL "M1/clkq_19" BEL "M1/clkq_20" BEL
        "M1/clkq_21" BEL "M1/clkq_22" BEL "M1/clkq_23" BEL "M1/clkq_24" BEL
        "M1/clkq_25" BEL "M1/clkq_26" BEL "M1/clkq_27" BEL "M1/clkq_28" BEL
        "M1/clkq_29" BEL "M1/clkq_30" BEL "M1/clkq_31" BEL "CLK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

