//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 27 14:43:07 2014
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "L15" LEVEL 1;
COMP "dacSYNC" LOCATE = SITE "V9" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "dacDINA" LOCATE = SITE "T9" LEVEL 1;
COMP "dacCLK" LOCATE = SITE "T4" LEVEL 1;
SCHEMATIC END;

